ProjectSeraphim/Library/
ProjectSeraphim/Temp/
ProjectSeraphim/Builds/
ProjectSeraphim/.vs/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

.pidb.meta

sysinfo.txt

*.unitypackage